.summary {
  padding: 30px 0;
  background-color: $background-color-gray;

  @include tablet-large {
    padding: 50px 0;
  }
}

.summary__title {
  margin-bottom: 0;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;

  @include tablet-large {
    font-size: 60px;
    margin-bottom: 24px;
  }
}

.summary__text {
  display: none;

  @include tablet-large {
    display: block;
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    font-weight: 500;
    width: 67%;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}
