header.header
  .header__inner
    .header__logo
      img(
        src="img/logo-scp.svg" 
        alt="Human Support Group."
        width="401"
        height="137" data-scrollspy="animate__fadeInLeft")
    .header__buttons
      button.button.button-request(data-scrollto="#request") Request a callback
      button.button.button-apply(data-scrollto="#form") Apply now
